@using ASP.Net_Inlamningsuppgift.Models.Forms;
@model LoginForm

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout_CenterScreen.cshtml";
}

<section class="registerform">
    <div class="title">
        <div class="headline">
            <span>Please Login to Your Account</span>
            <div class="underline"></div>
        </div>
    </div>
    
    <form method="post" novalidate>
        <div class="form-group">
            <div class="form-label">
                <label asp-for="Email" class="control-label">E-Mail *</label>
                <a asp-controller="Register" asp-action="Index">Don't have an Account yet?</a>
            </div>
            <input asp-for="Email" class="form-control" />
        </div>
        <div class="form-group">
            <div class="form-label d-flex justify-content-between">
                <label asp-for="Password" class="control-label">Password *</label>
                <a asp-controller="Forgot" asp-action="Index">Forgot your password?</a>
            </div>
            <input asp-for="Password" class="form-control" />
        </div>
        <button class="btn btn-success">Log In</button>
    </form>
   
</section>