@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager;

<div class="header container">

    <div class="logo">
        <img src="~/images/placeholders/Logopicsmall.png" alt="">
        <p class="bmerketo">bmerketo</p>
    </div>

    <div class="menulinks">
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Products" asp-action="Index">Products</a>
        <a asp-controller="Contact" asp-action="Index">Contact</a>
        @if (SignInManager.IsSignedIn(User))
        {
            <a asp-controller="Account" asp-action="Index">Account</a>
        }
        else 
        {
            <a asp-controller="Login" asp-action="Index">Login</a>
        }

    </div>

</div>
